<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>

<% if(locals.qs && JSON.stringify(qs)!=='{}'){ %>
<pre><%- JSON.stringify(qs, null, 4); %></pre>
<% } %>

<% if(locals.qs && JSON.stringify(qs)!=='{}'){ %>
<pre><%- JSON.stringify(myData, null, 4); %></pre>
<% } %>
  </body>
</html>
